
@{
    ViewBag.Title = "Index";
}

@using Multi_Shop.Models
<div class="container-fluid bg-dark mb-30">
    <div class="row px-xl-5">
        <div class="col-lg-3 d-none d-lg-block">
            <a class="btn d-flex align-items-center justify-content-between bg-primary w-100" data-toggle="collapse" href="#navbar-vertical" style="height: 65px; padding: 0 30px;">
                <h6 class="text-dark m-0"><i class="fa fa-bars mr-2"></i>Categories</h6>
                <i class="fa fa-angle-down text-dark"></i>
            </a>
            <nav class="collapse position-absolute navbar navbar-vertical navbar-light align-items-start p-0 bg-light" id="navbar-vertical" style="width: calc(100% - 30px); z-index: 999;">
                <div class="navbar-nav w-100">

                    @{

                        foreach (LoaiSP i in Common.getCategories())
                        {

                            <a href='@Url.Action("Index","Home")' class="nav-item nav-link "
                               id="@i.maLoai-tab">@i.tenLoai</a>
                        }

                    }
                </div>
            </nav>
        </div>
        <div class="col-lg-9">
            <nav class="navbar navbar-expand-lg bg-dark navbar-dark py-3 py-lg-0 px-0">
                <a href='@Url.Action("Index","Home")' class="text-decoration-none d-block d-lg-none">
                    <span class="h1 text-uppercase text-dark bg-light px-2">Multi</span>
                    <span class="h1 text-uppercase text-light bg-primary px-2 ml-n1">Shop</span>
                </a>
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                    <div class="navbar-nav mr-auto py-0">
                        <a href='@Url.Action("Index", "Home")' class="nav-item nav-link ">Home</a>
                        <a href='@Url.Action("Index", "Shop")' class="nav-item nav-link">Shop</a>
                        
                        <div class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Pages <i class="fa fa-angle-down mt-1"></i></a>
                            <div class="dropdown-menu bg-primary rounded-0 border-0 m-0">
                                <a href='@Url.Action("Index", "ShopingCart")' class="dropdown-item">Shopping Cart</a>
                                <a href='@Url.Action("Index", "Checkout")' class="dropdown-item">Checkout</a>
                            </div>
                        </div>
                        <a href='@Url.Action("Index", "Blog")' class="nav-item nav-link active">Blog</a>
                        <a href='@Url.Action("Index", "Contact")' class="nav-item nav-link">Contact</a>
                        <a href='@Url.Action("Index", "Login")' class="nav-item nav-link">Login</a>
                    </div>
                    <div class="navbar-nav ml-auto py-0 d-none d-lg-block">
                        <a href='@Url.Action("Index","Favorited")' class="btn px-0">
                            <i class="fas fa-heart text-primary"></i>
                        </a>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</div>

<div class="container-fluid pt-5">
    <div class="row px-xl-5 pb-3">
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="d-flex align-items-center bg-light mb-4" style="padding: 30px;">
                <h1 class="fa fa-check text-primary m-0 mr-3"></h1>
                <h5 class="font-weight-semi-bold m-0">Quality Product</h5>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="d-flex align-items-center bg-light mb-4" style="padding: 30px;">
                <h1 class="fa fa-shipping-fast text-primary m-0 mr-2"></h1>
                <h5 class="font-weight-semi-bold m-0">Free Shipping</h5>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="d-flex align-items-center bg-light mb-4" style="padding: 30px;">
                <h1 class="fas fa-exchange-alt text-primary m-0 mr-3"></h1>
                <h5 class="font-weight-semi-bold m-0">14-Day Return</h5>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="d-flex align-items-center bg-light mb-4" style="padding: 30px;">
                <h1 class="fa fa-phone-volume text-primary m-0 mr-3"></h1>
                <h5 class="font-weight-semi-bold m-0">24/7 Support</h5>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid pt-5 pb-3">
    <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">Về bài viết</span></h2>
    <div class="row px-xl-5">
        @{
            foreach (BaiViet i in Common.getArticle(20))
            {
                <div class="col-lg-3 col-md-4 col-sm-6 pb-1">

                    <div class="product-item bg-light mb-4">
                        <div class="product-img position-relative overflow-hidden">
                            <img class="img-fluid w-100" src="@i.hinhDD">
                        </div>

                        <div class="text-center py-4">
                            <a style="width: 20px; white-space: unset;" class="h6 text-decoration-none text-truncate" href='@Url.Action("Index", "BlogDetail", new { maBV = i.maBV })'>
                                @i.tenBV
                            </a><hr />

                            <a style=" font-size:14px; width: 20px; white-space: unset;" class="h6 text-decoration-none text-truncate" href='@Url.Action("Index", "BlogDetail", new { maBV = i.maBV })'>
                                <i>
                                    @i.ndTomTat
                                </i>
                            </a>
                        </div>


                    </div>
                </div>



            }
        }
    </div>
</div>



